In [165]:
import pandas as pd

# Исполнители

In [166]:
artists = pd.read_csv('data/lastfm_artist_list.csv')
artists

       artist_id   artist_name
0              1       __Max__
1              2       _Algol_
2              3     -123 Min.
3              4          -Oz-
4              5  -T De Sangre
...          ...           ...
17488      17489          鷺巣詩郎
17489      17490           黃立行
17490      17491           黄义达
17491      17492         黒木メイサ
17492      17493            鼓童

[17493 rows x 2 columns]

## Дубликаты

In [167]:
print(f"Размер: {len(artists)}")
print(f"Уникальных артистов: {artists['artist_name'].nunique()}")

Размер: 17493
Уникальных артистов: 17492

### Найдем повторяющихся исполнителей

In [168]:
artists[artists.duplicated(['artist_name'])]

       artist_id artist_name
12095      12096         Red

### Найдем все id исполнителя

In [169]:
artists[artists['artist_name'] == 'Red']

       artist_id artist_name
12093      12094         Red
12095      12096         Red

### Удалим дубликат

In [170]:
artists.drop_duplicates(['artist_name'], inplace=True)
print(f"Размер: {len(artists)}")
print(f"Уникальных артистов: {artists['artist_name'].nunique()}")

Размер: 17492
Уникальных артистов: 17492

## Сохраним данные

In [171]:
artists.to_csv('data/lastfm_artist_list.csv', index=False)

# Прослушивания

In [172]:
scrobbles = pd.read_csv('data/lastfm_user_scrobbles.csv')
scrobbles

       user_id  artist_id  scrobbles
0            1       4562      13883
1            1      10191      11690
2            1        494      11351
3            1       6673      10300
4            1       8402       8983
...        ...        ...        ...
92787     1892      10098        278
92788     1892       8660        263
92789     1892       3274        258
92790     1892       4240        232
92791     1892      10842        228

[92792 rows x 3 columns]

## Проверим пользователей по количеству прослушанных артистов

In [173]:
scrobbles_by_users = scrobbles.groupby('user_id').count()
scrobbles_by_users.mean()

artist_id    49.044397
scrobbles    49.044397
dtype: float64

In [174]:
scrobbles_by_users[scrobbles_by_users['artist_id'] != 50]

         artist_id  scrobbles
user_id
8               49         49
33              15         15
36              49         49
108              1          1
151             49         49
...            ...        ...
1790            49         49
1830            49         49
1836            49         49
1863            49         49
1879             1          1

[102 rows x 2 columns]

<u>Возможно, стоит попробовать удалить этих пользователей из набора данных</u>

## Дубликаты

### Заменим id исполнителя, который удалили ранее

In [175]:
scrobbles.loc[scrobbles['artist_id'] == 12096, 'artist_id'] = 12094

### Найдем повторяющиеся пары пользователей и исполнителей

In [176]:
scrobbles[scrobbles.duplicated(['user_id', 'artist_id'])]

       user_id  artist_id  scrobbles
3202        65        857         63
8509       172      17063         28
8512       172      17110         17
9072       185      10311        964
10487      213       7314        126
...        ...        ...        ...
83279     1700        472        138
84429     1724      11592        717
89391     1823      16174        138
89438     1824       8777         22
91090     1857       3068        169

[69 rows x 3 columns]

Возможные подходы к обработке:

1. <u>Удалить дубликаты</u>

2. Суммировать число прослушиваний

3. Усреднить значения прослушиваний

### Удалим дубликаты

In [177]:
scrobbles.drop_duplicates(['user_id', 'artist_id'], inplace=True)

## Сохраним данные

In [178]:
scrobbles.to_csv('data/lastfm_user_scrobbles.csv', index=False)